.container-user {
  margin-left: 1rem;
  text-align: center;
}

.div-info {
  margin-left: 1.5rem;
}

.img-logo {
  width: 30%;
  margin: auto;
}

.container-imagem {
  width: 100%;
  align-items: center;
  margin-bottom: -30px;
}

.segment {
  --background: #ffffff;

}

.ion-no-border{
  --ion-background-color: #ffffff;
}

.content-basico{
  --ion-background-color: #4322ff;
}

.botao-add{
  position: absolute;
  right: 0;
}

.botao-excluir{
  color: red;
}

.card{
  background-color: black;
  color: #ffffff;
  width: 10cm;
}
